name: Deploy events Service

on:
  push:
    branches: [ "main", "feature/CI" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DATABASE_DEV_USERNAME: ${{ secrets.DATABASE_DEV_USERNAME }}
      DATABASE_DEV_PASSWORD: ${{ secrets.DATABASE_DEV_PASSWORD }}
      DATABASE_PROD_USERNAME: ${{ secrets.DATABASE_PROD_USERNAME }}
      DATABASE_PROD_PASSWORD: ${{ secrets.DATABASE_PROD_PASSWORD }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.OWNER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker compose build
        docker compose push

    - name: Deploy to Portainer
      run : |
        echo "Deploying to Portainer"

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
          repository: 'thi24/gitops'
          ref: 'main'
          token:  ${{ secrets.GITOPS }}

    - name: Setup git config
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "<>"

    - name: Update docker image version
      run: |
        wget https://github.com/mikefarah/yq/releases/download/v4.42.1/yq_linux_amd64 -O yq &&\
        chmod +x yq
        NEW_VERSION=${GITHUB_RUN_ID}
        yq e ".services.benevolo.event-service.image = \"ghcr.io/thi24/benevolo.event-service:$NEW_VERSION\"" -i docker-compose.yml
    
    - name: Commit and push changes
      run: |
        git commit -a -m "updated by GitHub Actions"
        git push